<section>
<div class="container">
  <div class="services">
  <h1 >Our Sevices</h1>
  </div>
  </div>

    <div class="profiles" style="margin-top:-5%">
    
        <div class="profile">
          <img src="../../../assets/team1.jpg" class="profile-img">
  
          <h3 class="user-name">Talha</h3>
          <h5>Full Stack Developer</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eveniet soluta hic sunt sit reprehenderit.</p>
        </div>
        <div class="profile">
          <img src="../../../assets/team2.jpg" class="profile-img">
  
          <h3 class="user-name">Hafeez</h3>
          <h5>Back End Developer</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam facilis sint quod.</p>
        </div>
        <div class="profile">
          <img src="../../../assets/team3.jpg" class="profile-img">
  
          <h3 class="user-name">Atta</h3>
          <h5>Front End Developer</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, eveniet!</p>
        </div>
      </div>
    </section>
     <app-footer ></app-footer>