<body>
<div class="container">
<div class="services">
<h1>Our Sevices</h1>
</div>
<div class="row" style="margin-top: -80px; ;">
 <div class="col-md-3 text-center">
     <div class="icon">
    <i class="fa fa-desktop"></i>
     </div>
<h3 class="animated bounceInRight" style="animation-delay:0.5s">Pay online</h3>
<p class="animated bounceInRight" style="animation-delay:0.5s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
     when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
     It has survived not only five centuries, but also the leap into electronic typesetting, 
     remaining essentially unchanged. </p>
 </div>
 <div class="col-md-3 text-center">
        <div class="icon">
       <i class="fa fa-paint-brush"></i>
        </div>
   <h3 class="animated zoomInDown" style="animation-delay:0.5s">Pay online</h3>
   <p class="animated zoomInDown" style="animation-delay:0.5s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
       Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. </p>
    </div>
    <div class="col-md-3 text-center">
            <div class="icon">
           <i class="fa fa-table"></i>
            </div>
       <h3 class="animated zoomInUp" style="animation-delay:0.5s">Pay online</h3>
       <p class="animated zoomInUp" style="animation-delay:0.5s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. </p>
        </div>
        <div class="col-md-3 text-center">
                <div class="icon">
               <i class="fa fa-calculator"></i>
                </div>
           <h3 class="animated bounceInLeft" style="animation-delay:0.5s">Pay online</h3>
           <p class="animated bounceInLeft" style="animation-delay:0.5s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, 
                remaining essentially unchanged. </p>
            </div>
</div>
</div>
</body>
<app-footer></app-footer>