<div style="text-align: center; margin-top: 8%; margin-left:25%; display: inline-block;
width: 50%;">
<h2>Frequently asked Questions(FAQs)</h2>
<div style="margin-top: 5%;" class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           How to get Sign up?
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
        You can signup to our website by tapping the signup link in the header. Provide your credientials and fill the form
        and then press the signup button. If any error occurs it would alert you. <strong>Your password must be greater then or equal to six characters.</strong>  
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Can we login through Google or Facebook?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
        You can login through your mail simply by registering yourself to the application. 
        Soon we will addthe feature of google and facebook login. Then you shall be able to get login through Google or Facebook Account.
        Be patient we will update soon.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            How to order the product?
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
         You can order the product by adding them to the cart and then simply press the cart button on the corner of the website.
         You can place order by giving your address and a order ready notification would be sent to you. Then you can receive your order.
         You can only receive order after the notification have been pushed by Admin.
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              How to filter product by category?
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
          You can choose any product you wish to. You can filter the product by tapping  on any category you want to. 
          The default all categories section is displayed in which items of all categories are displayed and you can choose them.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Can we add to cart without getting logged in?
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div class="card-body">
              Yes surely. You can add to cart any item you wish to but if you want to order it you will have to login or signup to you account.
              you can place order only by getting Logged into the <strong>E-Gahak</strong> Website.
           </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Chat with the Admin or agent?
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div class="card-body">
           If you have any query regarding the site you can ask the Admin/Agent. When he is offline you can submit your query
           by Adding your email address. You can chat live with our agent and can get any help you want to. Our agent is 24/7 
           with you. And will reply <strong>ASAP</strong>.
          </div>
        </div>
      </div>
  </div>
</div>